* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rebeccapurple;
  height: 100vh;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.cuadrado {
  width: 100px;
  height: 100px;
  background-color: transparent;
  border: 1px solid white;
}
